*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
    background-color: #4B4E52;
    background-color: inherit;
}
html{
    font-size: 62.5%;
}
body{
    background-color: #4B4E52;
}
/* header */
header{
    height: 10rem;
    padding: 0 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .logo */
.logo{
    font-size: 2rem;
    color: #FAF8FF;
    cursor:pointer;
}
.logo span{
    color: #88A9A9;
}

/* navigation links */

nav li{
    display: inline-block;
    margin: 0 3.5rem;
}
nav li a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #FAF8FF;
    position: relative;
}
/* toggle button */
/* #toggle{
    display: none;
}
.navbar label{
    font-size: 20px;
    color: #88A9A9;
    font-weight: bold;
} */

/* nav links hover effect  */

nav li a::after{
    position: absolute;
    content: '';
    background-color: #88A9A9;
    left: 0;
    bottom: -.5rem;
    width: 0%;
    height: .2rem;
    transition: 0.2s;
}
nav li a:hover::after{
    width: 100%;
}

#button::after{
    display: none;
}
/* Contact me  button */

#chat{
    font-size: 1.2rem;
    padding-right: 2rem;
    border: none;
    background-color: #88A9A9;
    width: 12rem;
    height: 3rem;
    border-radius: 4rem;
    text-align: center;
    padding-left: 2rem;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
#chat:hover{
    transform: scale(1.1);
}

/* Main */

.section_1{
    /* background-color: #88A9A9; */
    width: 100vw;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.banner{
    height: 50rem;
    /* background-color: red; */
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
}
/* main text */

.banner_txt{
    color: #FAF8FF;
    font-size: 3rem;
    position: relative ;
    right:2rem;
    bottom: 2rem;

}
.banner_txt span{
    color:#88A9A9;
}
.banner_img img{
    height: 50rem;
    position: relative;
    bottom: 3rem;
}

 /* buttons */

 .btn{
    background-color: #88A9A9;
    padding: .9rem 2rem;   
    border-radius: 3rem;   
    border: none;
    font-weight: 100;
    position: relative;
    top: 1rem;
    transition: all .2s ease-in-out ;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.1);
}

.btn1{
    padding: .7rem 4rem;
}
.btn2{
    position: relative;
    left: 1.5rem;
}

@media (max-width:992px) and (min-width:882px) {
    html{
        font-size: 55%;
    }    
}

@media (max-width:882px) and (min-width:768px) {
    html{
        font-size: 44%;
    }    
}

@media (max-width:768px) {
    html{
        font-size: 40%%
    }
    nav{
        display: none;
    }
    .logo{
        justify-self: center;
    }
    
}